*{
  margin: 0;
  padding: 0;
}

/******************
      HEADER
******************/
header{
  background-color: #032888;
  color: white;
  text-shadow: rgba(0,0,0,.4) 1px 1px 0;
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  min-height: 10%;
  clear: both;
  border-bottom: 6px solid #030c63;
  border-bottom-right-radius: 15px;
}

header h1{
  text-align: left;
  float: left;
  padding: 10px 0;
  margin: 0 30px;
}

nav{
  text-align: right;
  padding: 5px 0;
  margin: 10px 0 0;
}

nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li{
  display: inline-block;
  padding: 0 10px 10px 0;
}

/*******BUTTONS********/
button{
  border-top: 1px solid #e26455;
  border-bottom: 1px solid #e26455;
  background: #e26455;
  padding: 7px 14px;
  border-radius: 15px;
  text-shadow: rgba(0,0,0,.4) 1px 1px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle;
}
button:hover{
  border-bottom-color: #b92821;
  background: #c64532;
  color: #ccc;
}

button:focus{
  outline: 0 !important;
  border-bottom-color: #b92821;
  background: #c64532;
  color: #ccc;
}

/********INPUTS*********/
input:focus{
  outline: 0 !important;
  background-color: #f69478;
  border: 1px solid #e26455;
}

/************
    BODY
*************/
body{
  background-color: black;
}

/************
    CONTENT
**************/
.content{
  clear: both;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

/******CREATE CHAR SCREEN*********/
.new-char{
  visibility: hidden;
  width: 0px;
  height: 0px;
  background-color: #17a67d;

  border-top: 10px solid #087153;
  border-bottom: 10px solid #087153;
  border-top-left-radius: 20px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 20px;

  padding: 10px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

/********GAME SCREENS**********/
.map-screen{
  visibility: hidden;
  width: 0;
  height: 0;
  background-color: black;

  border-top: 10px solid #444;
  border-bottom: 10px solid #444;
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-top-left-radius: 20px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 20px;

  position: absolute;
  right: 5px;
  margin: auto;
}

.char-screen{
  color: #67ffad;
  visibility: hidden;
  width: 0;
  height: 0;
  background-color: #087153;

  border-top: 10px solid #17a67d;
  border-bottom: 10px solid #17a67d;
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-top-right-radius: 20px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 20px;

  position: absolute;
  left: 5px;
  margin: auto;
}

.char-screen h2{
  margin: 10px;
}

.char-screen ul{
  color: white;
  list-style: none;
  margin: 10px 10px 30px 10px;
}
